.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 40px 20px;
  inline-size: 100%;
  max-inline-size: 700px;
  margin: 0 auto;
  color: #fff;
  // background-color: #fff;
}