.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }
  & p {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
  & h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
  }
  &__content {
    max-inline-size: 1440px;
    inline-size: 100%;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-block-end: 20px;
    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
    }
    & img {
      block-size: 450px;
      @media screen and (max-width: 1440px) {
        block-size: 300px;
      }
      @media screen and (max-width: 767px) {
        block-size: 200px;
      }
    }
  }
  &__partners {
    padding-block-end: 20px;
    &__partners {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: space-evenly;
      align-items: start;
    }
  }
  &__lectors {
    padding-block-end: 20px;
    &__lectors {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: space-evenly;
      align-items: start;
    }
  }
  &__results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 40px 20px;
    &__composers,
    &__quartets {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }
  }
  &__final {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__piece {
      & span {
        cursor: help;
      }
    }
    & ul {
      margin: 0;
      padding: 0;
      & li {
        list-style: none;
      }
    }
  }
}
