.footer {
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-inline-size: 1440px;
    inline-size: 100%;
    padding-inline: 120px;
    @media screen and (max-width: 1440px) {
      padding-inline: 80px;
    }
    @media screen and (max-width: 767px) {
      padding-inline: 40px;
    }
    @media screen and (max-width: 480px) {
      padding-inline: 20px;
    }
  }

  &_contacts {
    display: flex;
    justify-content: center;
    gap: 20px;
    inline-size: 100%;
    & a {
      inline-size: 50px;
      aspect-ratio: 1/1;
      transition: transform 0.3s ease-in-out;
      &:hover,
      &:focus-visible {
        transform: scale(1.2);
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  &_copyright {
    color: #fff;
  }
}
